{% extends '@EasyAdmin/page/content.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <pre style="height: 70vh;overflow: scroll;">
                    {{ sql }}
                </pre>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-light me-5"
                   target="_blank"
                   href="{{ path('admin_download_file', {f: fileName}) }}">
                    Download
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}