{% extends '@EasyAdmin/page/content.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_start(form) }}
                {{ form_row(form.backups) }}
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <pre style="height: 70vh;overflow: scroll;">

                </pre>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

            </div>
        </div>

    </div>
{% endblock %}