{% extends '@EasyAdmin/page/content.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_start(form) }}
                <fieldset class="mb-3 bg-transparent">
                    <legend class="col-form-label required">Backups</legend>
                    {{ form_widget(form.backups) }}
                </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}