{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <pre style="height: 70vh;overflow: scroll;">
                    {{ sql }}
                </pre>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-light me-5"
                   target="_blank"
                   href="{{ path('admin_download_file', {f: fileName}) }}">
                    Download
                </a>
                <a class="btn btn-light"
                   target="_blank"
                   href="/data/{{ attachments }}">
                    Download Attachments
                </a>
            </div>
        </div>
    </div>
{% endblock %}